@mixin flexbox(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
}
@mixin tr($x, $y, $z) {
    transform: translate3d($x, $y, $z);
}