@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import './null.scss';
@import './ui.scss';
@import './mixins.scss';
@import './header.scss';

$fontfamily: 'Lato';
$minwidth: 320px;

.container {
    max-width: 1130px;
    padding: 0px 15px;
    margin: 0px auto;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.content {
    
}
.generation {
    padding: 120px 0;
    background-color: #f7f7f7;
    &__block {}
    @media (max-width: 900px) {
        padding: 80px 0;
    }
    @media (max-width: 600px) {
        padding: 30px 0;
    }
}
.container {

}
.block {
    text-align: center;
    &__icon {
        margin: 0px 0px 30px 0px;
    }
    &__title {
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin: 0px 0px 18px 0px;
    }
    &__text {
        color: #848789;
        font-size: 18px;
        line-height: 34px;
    }
}